:root {
	--red: hsl(0, 78%, 62%);
	--cyan: hsl(180, 62%, 55%);
	--orange: hsl(34, 97%, 64%);
	--blue: hsl(212, 86%, 64%);
	--varyDarkBlue: hsl(234, 12%, 34%);
	--grayishBlue: hsl(229, 6%, 66%);
	--veryLightGray: hsl(0, 0%, 98%);
	--weight1: 200;
	--weight2: 400;
	--weight3: 600;
}

/* 
#121118
#EEA47F - black text
#684A8E
#F3ECE4 - black text
#4B4D72
 */

.temp {
	width: 100%;
	height: 100%;
	/* background-color: #f3d250; */
	font-size: 1.7rem;
	/* font-weight: 500; */
	background-color: #121118;
	color: var(--orange);

	scroll-margin-top: 8vh;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 3rem;

	font-family: 'Poppins';
}

.temp h1 {
	font-size: 2.5rem;
}

.temp .aboutContainer {
	display: flex;
	gap: 1rem;
}

.font {
	font-size: 1rem;
}

.aboutBox {
	background-color: #f3ece4;
	color: #000;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	padding: 2rem;
	flex: 40%;
}

.Accordion {
	margin: 0 auto;
	width: 100%;
	padding-bottom: 3rem;
	flex: 60%;
}

.aHeader {
	font-size: 1.5rem;
}

img {
	float: right !important;
	padding-bottom: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	.aboutContainer {
		display: flex;
		flex-direction: column;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	/* do nothing */
}
