@import url(./vars.css);
.temp {
	width: 100%;
	height: 100%;
	font-size: 1.7rem;
	background-color: var(--primary-background);
	color: var(--primary-text-color);
	scroll-margin-top: 8vh;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 3rem;
}

.temp h1 {
	font-size: 2.5rem;
	margin-left: 0.5rem;
}

.temp .aboutContainer {
	display: flex;
	gap: 1.5rem;
}

.font {
	font-size: 1rem;
}

.aboutBox {
	background-color: var(--primary-text-color);
	color: var(--secondary-text-color);
	width: 100%;
	height: 100%;
	border-radius: 5px;
	padding: 2rem;
	flex: 40%;
	margin-bottom: 1rem;
}

.Accordion {
	margin: 0 auto;
	width: 100%;
	padding-bottom: 3rem;
	flex: 60%;
}

.aHeader {
	font-size: 1.5rem;
}

img {
	float: right;
	padding-bottom: 1rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	.aboutContainer {
		display: flex;
		flex-direction: column;
	}

	.aboutBox {
		font-size: 1.2rem;
	}
}
