@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Rubik', sans-serif;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	height: 0;
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: #ff0000;
}
