.Footer .container {
	width: 100%;
	height: 7vh;
	text-align: center;
	background-color: #121118;
	color: #fab74b;
	display: flex;
	justify-content: space-between;
	padding: 1rem 3rem;
	font-family: 'Poppins';
}
