.temp {
	width: 100%;
	height: 100vh;
	background-color: #5da2d5;
	font-size: 5rem;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 80px;
	scroll-margin-top: 8vh;
}
