@import './vars.css';
ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

/* Main Navbar container */
.navbar {
	position: fixed;
	height: 92px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background: var(--primary-background);
	z-index: 10;
}

/* Header Portion or Raymond Lam Part */
.navbar .header {
	color: var(--primary-text-color);
	font-size: 2rem;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

/* Link portion of navbar*/
.navbar .nav {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.navbar .nav li {
	padding: 1.5rem;
}

.navbar .nav li a {
	font-size: 1.1rem;
	font-weight: 500;
	color: var(--primary-text-color);
}

.navbar .nav li a:visited,
a:hover,
a:active {
	text-decoration: none;
}

.navbar .nav li a:hover {
	color: #e9dcc9;
}

.hamburger {
	display: none;
}

.icon {
	color: var(--primary-text-color);
	font-size: 1.5rem;
}

@media screen and (max-width: 640px) {
	.mobileHeader {
		text-align: center;
		width: 100%;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.mobileHeader .hamburger {
		width: 10%;
		display: inline-block;
		padding-top: 0.5rem;
	}
	.mobileHeader .header {
		width: 90%;
		display: inline-block;
		padding-bottom: 1rem;
		padding-right: 2rem;
	}
	.navbar {
		height: 60px;
		width: 100%;
	}

	.navbar .nav {
		position: absolute;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0;
		left: -100%;
		text-align: center;
		width: 100%;
		height: 100vh;
		transition: 0.4s;
		z-index: -1;
		background: rgba(21, 20, 29, 0.9);
		padding: 0;
	}

	.navbar .active {
		left: 0;
	}

	.navbar .nav li {
		padding: 3rem 0;
	}

	.navbar .nav li a {
		font-size: 2rem;
	}
}

@media screen and (max-width: 320px) {
	.navbar {
		height: 100px;
	}

	.navbar .header {
		font-size: 1.8rem;
	}
}

@media screen and (max-width: 280px) {
	.navbar .header {
		font-size: 1rem;
	}
}
