@import url(./vars.css);
.temp {
	width: 100%;
	height: 100%;
	background: var(--primary-background);
	font-size: 2.5rem;
	font-weight: 500;
	box-sizing: border-box;
	padding: 2rem;
}

.temp h1 {
	color: var(--primary-text-color);
	font-size: 3rem;
	margin-left: 0.5rem;
}

.card {
	margin: 10px;
	background-color: var(--card-color);
	border-radius: 10px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	width: 300px;
	transition: all 0.2s ease-in-out;
	height: 500px;
	outline: 1px solid #000000;
}

.card:hover {
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
	height: 250px;
}
.card-header img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}

.card-body {
	padding: 20px;
	height: 250px;
	text-align: center;
}

.card-body h3 {
	font-size: 1.5rem;
	color: #000000;
	padding-bottom: 1rem;
	font-weight: 700;
}

.cardText {
	color: rgb(0, 0, 0);
	font-size: 1rem;
	padding-bottom: 1rem;
}

.button {
	background-color: var(--primary-background-color);
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	max-width: 250px;
	margin: auto;
	border-radius: 10px;
	margin-top: 1.5rem;
	outline: 2px solid var(--primary-text-color);
	color: var(--primary-text-color);
}

.button:hover {
	background-color: var(--primary-text-color);
	color: white;
}

/* Bigger than 735px  */
@media screen and (min-width: 735px) {
	.cardContainer {
		max-width: 1440px;
		margin: 20px auto;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		flex-wrap: wrap;
		gap: 2rem;
	}
}
/* Smaller than 735px */
@media screen and (max-width: 735px) {
	.cardContainer {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		gap: 4rem;
		width: 100%;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
		padding-bottom: 1rem;
	}
	.cardContainer::-webkit-scrollbar {
		height: 16px; /* horizontal scrollbar width*/
		width: 5px; /* Remove scrollbar width */
		background: transparent; /* Optional: just make scrollbar invisible */
	}

	.cardContainer::-webkit-scrollbar-thumb {
		content: 'Scroll';
		background: #9b9b9b; /*color of the scroll bar*/
	}

	.card {
		flex: 0 0 auto;
		overflow: hidden;
		height: 520px;
	}

	.card-body h3 {
		font-size: 1.35rem;
		padding-bottom: 1rem;
	}

	.card-body .cardText {
		font-size: 0.9rem;
	}

	.card:hover {
		transform: scale(1.02);
		box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
	}
}
/* Smaller than 365px */
@media screen and (max-width: 365px) {
	.tag-orange {
		white-space: nowrap;
	}
}

/* Smaller than 320px */
@media screen and (max-width: 320px) {
	.card {
		width: 80%;
	}

	.card .card-body h3 {
		font-size: 1.4rem;
	}
	.card .card-body .cardText {
		font-size: 0.9rem;
	}
}
