:root {
	--primary-background: #ffffff;
	--secondary-background: white;
	--primary-text-color: black;
	--secondary-text-color: white;
	--card-color: white;
	--HeroSplash: url(../assets/janelle-hewines-RIX-PE0dQ-k-unsplash.jpg);
}

[data-theme='dark'] {
	--primary-background: #202636;
	--secondary-background: #2a3245;
	--primary-text-color: #5f6a89;
	--secondary-text-color: white;
	--card-color: #2a3245;
	--HeroSplash: url(../assets/adam-vradenburg-RZrxwdZ9XEQ-unsplash.jpg);
}

/* Screen Breakpoints order matters when dealing with max-width(start with small and increase breakpoints shown below) or min-width(start big and decrease breakpoints)*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
